<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Search BillItems</title>

</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<form th:action="@{/billitems/search}" method="get">
				<div class="row">
					<div class="col-12 col-md-4">
						<input th:value="${name}" name="name" type="text" class="form-control"
							placeholder="Tìm kiếm hóa đơn....">
					</div>
					<div class="col-12 col-md-2">
						<div class="row">
							<label class="col">Bill Id</label> 
							<select name="idBill" class="form-select col">
								<option value="">Chọn</option>
								<option th:each="b : ${bills}" th:value="${b.billId}"
								th:text="${b.name}" th:selected="${b.id == idBill}"></option>
							</select>
						</div>
					</div>
						<div class="col-12 col-md-2">
						<div class="row">
							<label class="col">Product Id</label> 
							<select name="productId" class="form-select col">
								<option value="">Chọn</option>
								<option th:each="p : ${products}" th:value="${p.id}"
								th:text="${p.name}" th:selected="${p.id == productId}"></option>
							</select>
						</div>
					</div>
	
					<div class="col-12 col-md-1">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
					<div class="col-12 col-md-1">
						<a th:href="@{/billitems/create}" class="btn btn-success">Add</a>
					</div>
				</div>
			</form>
		</div>
		<hr />
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Bill Id</th>
						<th>Product Id</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="billitems : ${list}">
						<td th:text="${billitems.billItemsId}"></td> 
						<td th:text="${billitems.quantity}"></td>
						<td th:text="${billitems.buyPrice}"></td>
						<td th:text="${billitems.bill.billId}"></td>
						<td th:text="${billitems.product.id}"></td>
						<td><a class="text-danger"
							th:href="@{'/billitems/delete?id=' + ${billitems.billItemsId}}">Delete</a>
							<a th:href="@{'/billitems/update?id=' + ${billitems.billItemsId}}">Update</a>
						</td>
					</tr>
				</tbody>
			</table>
		<ul class="pagination">
				<li th:if="${totalPage > 0}" class="page-item"><a
					class="page-link"
					th:href="@{'/billitems/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)} + '&name=' + ${name} + '&idBill' + '&productId=' + ${idBill} + ${productId}}">Previous</a></li>

				<li th:if="${totalPage > 0}"
					th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/billitems/search?page='+ ${i} + '&name=' + ${name} + '&idBill' + '&productId=' + ${idBill} + ${productId}}"
					th:text="${i}"></a></li>

				<li th:if="${totalPage > 0}" class="page-item"><a
					class="page-link"
					th:href="@{'/billitems/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) } + '&name=' + ${name} + '&idBill' + '&productId=' + ${idBill} + ${productId}}">Next</a></li>

			</ul>
		</div>
	</div>
</body>
</html>