<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Bill</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Create Bill</h6>
		</div>
		<hr />
		<div class="row">
			<form th:object="${bill}" th:action="@{/bill/create}" method="post">
				<div class="mb-3">
					<label class="form-label" th:text="#{bill.name}"></label> 
					<input type="text" th:field="*{name}" class="form-control" >
					<p th:errors=*{name}></p>
				</div>
				<div class="mb-3">
					<label class="form-label" th:text="#{bill.quantity}"></label> 
					<input type="text" th:field="*{quantity}" class="form-control" >
					<p th:errors=*{quantity}></p>
				</div>
	       <!--      <div class="mb-3">
					<label class="form-label">Buy Date</label> 
					<input type="date" name="buyDate"
						class="form-control col" placeholder="dd/MM/yyyy"">
				</div> -->
				<div class="mb-3">
					<label class="form-label" th:text="#{user.id}"></label> 
					<select name="user.id" class="form-control">
						
						<option th:each="r : ${users}" th:value="${r.id}"
							th:text="${r.name}"></option>
					</select>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>