<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update Bill</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update Bill</h6>
		</div>
		<hr/>
		<div class="row">
			<form th:action="@{/bill/update}" method="post">
				<div class="mb-3">
					<label class="form-label">Id:</label> 
					<input readonly="readonly" th:value="${bill.billId}" type="text" name="billId" class="form-control" >
				</div>
				<div class="mb-3">
					<label class="form-label">Quantity:</label>
					<textarea name="content" th:text="${bill.quantity}" class="form-control">
					</textarea>
					</div>
				<div class="mb-3">
					<label class="form-label">User Id:</label> <select
						name="user.id" class="form-control">
						
						<option th:each="r : ${users}" th:value="${r.id}"
							th:text="${r.name}" th:selected="${r.id == bill.user.id}"></option>
					</select>
				</div>
				<div class="mb-3">
						<label class="col">From:</label> 
						<input th:value="${#dates.format(bill.buyDate, 'yyyy-MM-dd')}" 
						type="date" name="buy_date"
								class="form-control col" >
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>