<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Product</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6 th:text="#{product.create}"></h6>   
		</div>
		<hr/>
		<div class="row">
			<form enctype="multipart/form-data" th:object="${product}" th:action="@{/product/create}" method="post">
			
				<div class="mb-3">
					<label class="form-label" th:text="#{product.name}"></label> 
					<input type="text" th:field="*{name}" class="form-control" >
					<p th:errors=*{name}></p>
					<input type="file" name="file" accept="image/*" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label" th:text="#{product.price}"></label> 
					<input type="text" th:field="*{price}" class="form-control" >
					<p th:errors=*{price}></p>
				</div>
				<div class="mb-3">
					<label class="form-label" th:text="#{product.description}"></label> 
					<input type="text" th:field="*{description}" class="form-control" >
					<p th:errors=*{description}></p>
				</div>
				
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>