<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Product</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update Product</h6>
		</div>
		<hr/>
		<div class="row">
			<form th:object="${product}" th:action="@{/product/update}" method="post">
				<div class="mb-3">
					<label class="form-label" th:object="${product}"></label> 
					<input readonly="readonly" th:value="${product.id}" type="text" name="id" class="form-control" >
				</div>
				<div class="mb-3">
					<label class="form-label" th:object="${product}"></label> 
					<input th:value="${product.name}" type="text" name="name" class="form-control" >
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
