
<div th:fragment="menu-section" class="col-12 col-sm-3">
	<ul class="list-group">
		<li class="list-group-item list-group-item-action list-group-item-success"><a th:href="@{/category/search}">Quản lý đồ Chơi</a></li>
		<li class="list-group-item list-group-item-action list-group-item-primary"><a th:href="@{/product/search}">Quản lý mặt hàng</a></li>
		<li class="list-group-item list-group-item-action list-group-item-success"><a th:href="@{/user/search}">Quản Lý tài khoản</a></li>
		<li class="list-group-item list-group-item-action list-group-item-primary"><a th:href="@{/bill/search}">Quản Lý hóa đơn</a></li>
		<li class="list-group-item list-group-item-action list-group-item-success"><a th:href="@{/billitems/search}">Quản Lý hóa đơn mặt hàng</a></li>
		<li class="list-group-item list-group-item-action list-group-item-primary"><a th:href="@{/coupon/search}">Quản Lý Coupon</a></li>
		<li class="list-group-item list-group-item-action list-group-item-success"><a th:href="@{/bill/thongke}">Quản Lý Thong Ke</a></li>
		<li class="list-group-item list-group-item-action list-group-item-primary"><a th:href="@{/bill/thongKe1}">Quản Lý Thong Ke So luong don mua</a></li>
		<li class="list-group-item list-group-item-action list-group-item-success">Thoát</li>
	</ul>

	<form th:action="@{/logout}" method="post">
	  <div class="col-12 col-md-2">
	  <button type="submid" class="btn btn-primary">Logout</button>
	</div>
</form>
<br>
	<form th:action="@{/login}" method="post">
	  <div class="col-12 col-md-2" >
	  <button type="submid" class="btn btn-primary">Login</button>
	</div>
</form>
</div>
