
<div th:fragment="menu-section" class="col-12 col-sm-3">
	<ul class="list-group">
		<li class="list-group-item"><a th:href="@{/category/search}">Quản lý đồ Chơi</a></li>
		<li class="list-group-item"><a th:href="@{/product/search}">Quản lý mặt hàng</a></li>
		<li class="list-group-item"><a th:href="@{/user/search}">Quản Lý tài khoản</a></li>
		<li class="list-group-item"><a th:href="@{/bill/search}">Quản Lý hóa đơn</a></li>
		<li class="list-group-item"><a th:href="@{/billitems/search}">Quản Lý hóa đơn mặt hàng</a></li>
		<li class="list-group-item"><a th:href="@{/coupon/search}">Quản Lý Coupon</a></li>
		<li class="list-group-item"><a th:href="@{/bill/thongke}">Quản Lý Thong Ke</a></li>
		<li class="list-group-item"><a th:href="@{/bill/thongkesoluong}">Quản Lý Thong Ke So luong don mua</a></li>
		<li class="list-group-item">Thoát</li>
	</ul>
</div>